<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stryker.endo.first" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.nuance.speechanywhere.NSAService" >
            <intent-filter>
                <action android:name="com.nuance.speechanywhere.NSAService" />
            </intent-filter>
        </service>

        <activity
            android:name=".EditPatientScreen"
            android:label="@string/title_activity_edit_patient_screen" >
        </activity>
        <activity
            android:name=".MessagingActivity"
            android:label="@string/title_activity_messaging" >
        </activity>
        <activity
            android:name=".SchedulesActivity"
            android:label="@string/title_activity_schedules" >
        </activity>
    </application>

</manifest>
